h1{
  text-align: center;
  color: brown;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 100px;
  border: 10px solid brown;
}
tr {
  margin: 0px;
  border: 1px solid black;
}
td {
  margin: 0px;
  border: 1px solid black;
  width: 70px;
  height: 70px;
}


.light-cell {
  background: antiquewhite;
  width: 45px;
  height: 45px;
}

.dark-cell {
  background: gray;
  width: 45px;
  height: 45px;
}

.selected {
  background: limegreen;
}

.possible-move {
  background: orange;
}