h1{
    text-align: center;
    color: brown;
}

  .table1 {
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 100px;
    border: 70px solid firebrick;
  }
  tr {
    margin: 0px;
    border: 1px solid black;
  }
  td {
    margin: 0px;
    border: 1px solid black;
    width: 70px;
    height: 70px;
  }
  .table1 tr:nth-child(odd) td:nth-child(even) {
    background-color: white;
  }
  .table1 tr:nth-child(even) td:nth-child(even) {
    background-color: black;
  }
  .table1 tr:nth-child(odd) td:nth-child(odd) {
    background-color: black;
  }
  .table1 tr:nth-child(even) td:nth-child(odd) {
    background-color: white;
  }