h1{
    color: burlywood;
    text-align: center;
}

.chessboard{
    margin: 0 auto;
    border: 5px solid #333;
    border-spacing: 0;
}

.cell{
    height: 2cm;
    width: 2cm;
}

.row:nth-child(even) .cell:nth-child(odd), .row:nth-child(odd) .cell:nth-child(even){
    background-color: black;
}